*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(imagens/bg.png);
}
a.navbar-brand{
    color: greenyellow;
}
a:hover.navbar-brand {
    color: rgb(153, 218, 56);
}
section.menu {
    max-width: 1330px;
    margin: auto;
    padding: 10px;
}

.navbar-nav a {
    color: white;
}
.navbar-nav a:hover  {
    color: rgb(190, 187, 187);
}